@eventbrite:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
# Git authentication for GitHub
//github.com/:_authToken=${GITHUB_TOKEN}
